body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: darkcyan;
}

label {
  display: block;
}

#home {
  display: flex;
  align-items: flex-start;
}

#home p {
  margin: 30px;
  font-size: 30px;
  line-height: 1.5;
  font-weight: 200;
}

#home-img {
  margin: 25px 25px 0 25px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

#logo {
  justify-self: flex-start;
  font-family: 'Quicksand', sans-serif;
  color: gray;
  font-size: 36pt;
  margin: 0 0px 0 20px;
  min-width: 200px;
}

.icon {
  height: 42px;
  width: 42px;
}

#cart-icon {
  min-width: 80px;
}

nav a {
  display: inline-block;
  margin: 1em;
  font-size: 24px;
  font-family: 'Quicksand', sans-serif;
  color: darkcyan;
}

nav a:hover {
  color: rgb(137, 198, 198);
}

a:hover {
  color: rgb(137, 198, 198);
}

form div {
  margin: 1em;
  display: inline-block;
}

#all-products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
}

.cart-display {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  align-items: flex-start;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

#cart-title {
  text-align: center;
  margin: 50px 0 50px 0;
}

.cart-display img {
  width: 200px;
}

.total {
  display: flex;
  justify-content: right;
  margin-right: 60px;
}

#all-items, .cart-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.item > img {
  height: 500px;
}

li {
  list-style: none;
}

#search-and-filter {
  padding: 10px;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
  gap: 10px;
}

#search-and-filter input, select {
  width: 100%;
  font-size: 18px;
  padding: 4px;
}

#search-and-filter label {
  margin-bottom: 12px;
  margin-right: 18px;
  font-weight: bold;
  min-width: 200px;
}

.add-product-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin-left: 200px;
  margin-right: 200px;
  font-family: 'Quicksand', sans-serif;
}

.update-product-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin-left: 200px;
  margin-right: 200px;
  font-family: 'Quicksand', sans-serif;
}

button {
  background-color: white;
  border: 1px solid black;
  font-family: 'Quicksand', sans-serif;
  margin-right: 10px;
}

button:hover {
  background-color: lightcyan;
}

.singleProduct {
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
}

.singleProduct-info {
  margin-left: 30px;
}

.singleProduct-info h1 {
  margin-top: 0px;
}