body {
  font-family: sans-serif;
  margin: 0;
  padding: 10px;
}

a {
  text-decoration: none;
  color: rgb(37,67,50);
}

label {
  display: block;
}

#authorization {
  border: 1px black solid;
  border-radius: 10px;
  margin: auto;
  min-width: 45%;
  max-width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

#authorization input {
  margin-left: 10px;
}

#authorization h1 {
  font-family: 'Alata',sans-serif;
  color: rgb(37,67,50)
}

#authorization label {
  display: inline-block;
  font-size: 18pt;
}

#quantity-input {
  margin-bottom: 10px;
}

#quantity-input input {
  margin-left: 10px;
  font-size: 12pt;
}

.error {
  color: red;
  font-size: 18pt;
}

#authorization button {
  font-size: 12pt;
  width: 100px;
}

.admin-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#home {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Quicksand, sans-serif;
}

#home h1 {
  margin: 0px;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Alata', sans-serif;
  color: rgb(37,67,50);
}

#home p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 200;
}

#home-img {
  width: 50%;
}

#home-text {
  padding: 1% 4% 4% 4%;
  text-align:justify;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

#logo {
  justify-self: flex-start;
  font-family: 'Alata', sans-serif;
  color: rgb(100,100,100);
  font-size: 36pt;
  margin: 0;
  min-width: 200px;
  line-height: .9;
}

#logo:hover {
  color: darkgray;
}

.icon {
  height: 42px;
  width: 42px;
}

#cart-icon {
  min-width: 80px;
}

nav a {
  display: inline-block;
  margin: 1em;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  color: rgb(37,67,50);
  white-space: nowrap;
}

nav a:hover {
  color: rgb(105,141,112);
}

a:hover {
  color: rgb(105,141,112);
}

form div {
  margin: 1em;
  display: inline-block;
}

#all-products-container, #admin-landing-page, #all-users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
}

#all-products-container h1 {
  font-family: 'Alata', sans-serif;
  color: rgb(37,67,50);
}

.cart-display {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto 0 auto;
  width: 95%;
}

#cart-container {
  width: 70%;
  margin: 0 auto 0 auto;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  gap: 18px;
  white-space: nowrap;
  font-family: "Quicksand",sans-serif;
}

#cart-title {
  text-align: center;
  margin: 50px 0 50px 0;
  color: rgb(37,67,50);
  font-family: "Alata",sans-serif;
}

.cart-display img {
  width: 180px;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
  align-items: center;
  font-size: 14pt;
}

.total button {
  margin-left: 30px;
  font-size: 12pt;
}

#confirmed-total {
  align-self: flex-end;
}

#all-items, .cart-display, #all-users {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
  gap: 18px;
}

#all-users-table, th, td {
  border: 1px rgb(105,141,112) solid;
  text-align: center;
}

#all-users-table td {
  padding: 10px;
}

#all-users-table th {
  background-color: rgb(100,100,100);
  color: white;
}

.item {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 250px;
  color: rgb(105,141,112);
}

.item:hover {
  opacity: 80%;
}

/* .item > img {
  height: 400px;
} */

.below-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0;
}

.invalid {
  border: 1px solid red;
}

#edit-button {
  display: flex;
  justify-content: flex-end;
}

.productReviews {
  display: flex;
  align-items: center;
  gap: 10px;
}

.productReviews p {
 margin: 0;
}

li {
  list-style: none;
}

#search-and-filter {
  padding: 10px;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
  gap: 10px;
}

#search-and-filter input, select {
  width: 100%;
  font-size: 18px;
  padding: 4px;
}

#search-and-filter label {
  margin-bottom: 12px;
  margin-right: 18px;
  font-weight: bold;
  min-width: 200px;
}

.add-product-form, .update-product-form, .add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 40%;
  margin: 0 auto;
  padding: 2%;
  font-family: 'Quicksand', sans-serif;
}

.add-product-form h1, .update-product-form h1, .add-form h1 {
  color: rgb(37,67,50);
  font-family: 'Alata', sans-serif;
  margin: 0 auto 0 auto;
}

#add-product input, select, #edit-product input, select, #add-user input, select, #checkout input, select {
  width: 100%;
  margin-bottom: 5%;
}

#add-product label, #edit-product label, #add-user label, #checkout label {
  width: 100%;
}

#add-product, #edit-product, #add-user, #checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

#admin-label {
  display: flex;
  white-space: nowrap;
  justify-content: flex-start;
  gap: 3%;
}

#admin-label input {
  width: 5%;
  margin: auto 0 auto 0;
}

#confirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 0 auto;
  width: 40%;
  border: 1px solid black;
  padding: 0 5%;
  white-space: nowrap;
}

#confirmation-container h1 {
  margin-bottom: 0;
}

.confirmation-img {
  width: 100px;
}

#confirmation-table th {
  width: 100px;
}
#confirmation-table td {
  padding: 0 10px;
}

button {
  background-color: white;
  border: 1px solid black;
  font-family: 'Quicksand', sans-serif;
  padding: 8px;
}

button:hover {
  background-color: rgb(105,141,112);
}

.singleProduct {
  display: flex;
  margin: 30px auto 30px auto;
  width: 90%;
  font-family: "Quicksand", sans-serif;
}

.singleProduct-info {
  width: 50%;
  margin: 0 auto;
  padding: 0 5%;
}

.singleProduct img {
  width: 50%;
  margin-bottom: 40px;
}

.singleProduct-info h1 {
  margin-top: 0px;
  font-family: "Alata", sans-serif;
  color: rgb(105,141,112);
}

.singleProduct-info p {
  font-size: 16pt;
}

.single-product-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 5%;
}

hr { margin: 30px 0 30px 0; }
  
@media screen and (max-width: 850px) {
  nav {
    flex-direction: column;
  }
}

@media screen and (max-width: 850px) {
  #home {
    flex-direction: column;
  }

  #home-img {
    flex-direction: column;
    width: 100%;
  }

  #home-img, #home-text {
    width: 90%;
    margin: 0 auto 5% auto;
  }

  .singleProduct {
    flex-direction: column;
  }

  .singleProduct-info, .singleProduct img {
    width: 90%;
    margin: 0 auto 5% auto;
  }
}

